@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Responsive */


/*#fondomenu {

  background: #ffff url(../images/fondomenu1.jpg) repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}*/

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8) !important;
    padding: 0;
    max-height: 100% !important;
    width: 100% !important;
    margin: auto;
    overflow: hidden !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    z-index: 999999 !important;
    /* will-change: top, opacity; */
}
.modal-card-small-img{
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.modal-img-custom {
    width: 100%;
}

.row {
    margin-bottom: 20px !important;
}

.row-no-margin-bottom {
    margin-bottom: 0px !important;
}


/* menu */

.logo-link-menu {
    padding: 0px !important;
    background-color: transparent !important;
}

.logo-link-menu-div a.active{
  background-color: transparent !important;
}

.home-icon {
    line-height: 0 !important;
    width: 55px;
}

.parrallax-custom-layer {
    position: absolute;
    width: 100%;
    height: 100%
}

.fh5co-main-nav .fh5co-menu-1 a.active, .fh5co-main-nav .fh5co-menu-2 a.active, .fh5co-main-nav .fh5co-logo a.active {
    background-color: #2290cf !important;
    color: #ffffff !important;
}

.fh5co-main-nav .fh5co-menu-1 a, .fh5co-main-nav .fh5co-menu-2 a, .fh5co-main-nav .fh5co-logo a {
    color: #3b87b3 !important;
    font-weight: 600 !important;
}

.iconoseccion {
    height: 61px;
    width: 61px;
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-top: -50px;
    margin-left: -24px;
}

.parrafoseccion {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
}

.parrafoseccioncolor1 {
    color: #545454;
}

.parrafoseccioncolor2 {
    color: #ffffff;
}

.headerseccion {
    text-align: center;
    margin-top: 45px;
}

.títuloseccion {
    font-size: 50px;
    color: #008ecf;
    font-style: italic;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.tituloseccion {
    color: #2290cf;
    font-size: 50px;
    font-style: italic;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.tituloseccion-sombra1 {
    text-shadow: 0px 3px 3px #adadad;
}

.tituloseccion-sombra2 {
    text-shadow: 0px 3px 3px #272020;
}

.tituloseccion:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 2px;
    left: 50%;
    background: #fb6e14;
    margin-left: -20px;
}

.fondopati {
    background: #ffff url(../images/1.jpg) repeat center center;
    background-size: cover;
}

.containervideo {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.containervideo2 {
    position: relative;
    height: 0;
    padding-bottom: 42%;
}

.video3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: auto;
    min-height: 400px;
    overflow: hidden;
}


/* Social Icons */

#social_side_links {
    position: fixed;
    top: 50%;
    right: 0;
    padding: 0;
    list-style: none;
    z-index: 99;
}

#social_side_links li a {
    display: block;
}

#social_side_links li a img {
    display: block;
    max-width: 40px;
    padding: 10px;
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

#social_side_links li a:hover img {
    background: rgba(0, 0, 0, .2);
}

.centrar-texto {
    text-align: center;
}

.your-centered-div {
    width: 560px;
    /* you have to have a size or this method doesn't work */
    height: 315px;
    /* think about making these max-width instead - might give you some more responsiveness */
    top: 0;
    right: 0;
    /* confuse it i guess */
    bottom: 0;
    left: 0;
    margin: auto;
    /* make em equal */
}

#titulorecetasseccion {
    text-align: center;
    margin-top: 138px;
}

#logo2 {
    width: 300px;
    height: 300px;
}

#imagentip {
    border-radius: 56px;
    padding: 34px;
}

.textotip {
    margin-top: 12px;
    text-align: center;
}

#logomenu {
    width: 150px;
    padding-bottom: 5px;
}

#logomenu2 {
    padding: 0px !important;
}

#textovideo {
    font-size: 19px;
    text-align: center;
    color: #ffffff;
    /*background-color: #0000003d;*/
    border-radius: 30px;
    /*border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;*/
    margin-top: 33px;
    margin-bottom: 48px;
    /*box-shadow: 10px 10px 5px #888888;*/
    text-shadow: 0px 3px 3px #484646;
}

body {
    font-family: "Merriweather", serif;
    font-size: 18px;
    font-weight: 300;
    /*line-height: 2;*/
    color: #5e493a;
}

body.fh5co-overflow {
    overflow-x: auto;
}

a {
    /*color: #fb6e14;*/
    color: #228dcc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:focus, a:active {
    color: #bf4c03;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Pacifico;
    /*color: #000;*/
    color: #004c6c;
}

p {
    /*margin-bottom: 30px;*/
    margin-bottom: 11px;
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: 'Roboto', serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.btn.btn-md {
    padding: 10px 20px !important;
}

.btn.btn-lg {
    padding: 18px 36px !important;
}

.btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: none !important;
}

.btn-primary {
    background: #fb6e14;
    color: #fff;
    border: 2px solid #fb6e14;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #228ac9 !important;
    border-color: #228ac9 !important;
}

.btn-primary.btn-outline {
    background: transparent;
    color: #ffffff;
    border: 2px solid #2290cf;
    border-radius: 100px;
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #fb6e14;
    color: #fff;
}

.btn-success {
    background: #58ca7e;
    color: #fff;
    border: 2px solid #58ca7e;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #45c46f !important;
    border-color: #45c46f !important;
}

.btn-success.btn-outline {
    background: transparent;
    color: #58ca7e;
    border: 2px solid #58ca7e;
}

.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
    background: #58ca7e;
    color: #fff;
}

.btn-info {
    background: #1784fb;
    color: #fff;
    border: 2px solid #1784fb;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #0477f4 !important;
    border-color: #0477f4 !important;
}

.btn-info.btn-outline {
    background: transparent;
    color: #1784fb;
    border: 2px solid #1784fb;
}

.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background: #1784fb;
    color: #fff;
}

.btn-warning {
    background: #fed330;
    color: #fff;
    border: 2px solid #fed330;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #fece17 !important;
    border-color: #fece17 !important;
}

.btn-warning.btn-outline {
    background: transparent;
    color: #fed330;
    border: 2px solid #fed330;
}

.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
    background: #fed330;
    color: #fff;
}

.btn-danger {
    background: #fb4f59;
    color: #fff;
    border: 2px solid #fb4f59;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #fa3641 !important;
    border-color: #fa3641 !important;
}

.btn-danger.btn-outline {
    background: transparent;
    color: #fb4f59;
    border: 2px solid #fb4f59;
}

.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
    background: #fb4f59;
    color: #fff;
}

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.form-control {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
}

.form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #fb6e14;
}


/*
 * Flexslider
 */

#tilde {
    width: 55px;
    height: 55px;
}

#recetacarta {
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section {
    /*min-height: 700px;*/
    background: #fff url(../images/2.jpg) repeat center center;
    background-size: cover;
}

.section1 {
    background-color: #f7f7f7;
}

.section2 {
    /*min-height: 700px;*/
    background-color: #353535;
}

#fh5co-home {
    /*min-height: 700px;*/
    background: #fff url(../images/1.jpg) repeat center center;
    background-size: cover;
}

#fh5co-home .flexslider {
    border: none;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

#fh5co-home .flexslider .fh5co-text {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 20%;
    margin-top: -212px;
    text-align: center;
}

#fh5co-home .flexslider .fh5co-text h1 {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (max-width: 992px) {
    #fh5co-home .flexslider .fh5co-text h1 {
        font-size: 80px;
    }
}

#fh5co-home .flexslider .fh5co-text h2 {
    /*  margin: 0;*/
    padding: 0;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 2px;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    #fh5co-home .flexslider .fh5co-text h2 {
        font-size: 20px;
    }
}

#fh5co-home .flexslider .fh5co-text h2 span {
    font-family: "Playfair Display", serif;
    font-style: italic;
    text-transform: none;
}

#fh5co-home .flexslider .fh5co-text h2 a {
    color: #fb6e14;
}

#fh5co-home .flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
}

#fh5co-home .flexslider .fh5co-overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
    background: #000;
}

#fh5co-home .flexslider .flex-control-nav, #fh5co-home .flexslider .flex-direction-nav {
    display: none;
}

.fh5co-main-nav {
    position: relative;
    background: #fff;
}

.fh5co-main-nav.fh5co-shadow {
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.fh5co-main-nav:before, .fh5co-main-nav:after {
    content: "";
    position: absolute;
    left: 0;
    /*height: 2px;*/
    width: 100%;
    background: #e6e6e6;
}

.fh5co-main-nav:before {
    top: 2px;
}

.fh5co-main-nav:after {
    bottom: 2px;
}

.fh5co-main-nav .fh5co-menu-1, .fh5co-main-nav .fh5co-menu-2, .fh5co-main-nav .fh5co-logo {
    vertical-align: middle;
    line-height: 0;
}

.fh5co-main-nav .fh5co-menu-1 a, .fh5co-main-nav .fh5co-menu-2 a, .fh5co-main-nav .fh5co-logo a {
    padding: 25px 10px;
    color: #084f70;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.fh5co-main-nav .fh5co-menu-1 a:hover, .fh5co-main-nav .fh5co-menu-1 a:focus, .fh5co-main-nav .fh5co-menu-1 a:active, .fh5co-main-nav .fh5co-menu-2 a:hover, .fh5co-main-nav .fh5co-menu-2 a:focus, .fh5co-main-nav .fh5co-menu-2 a:active, .fh5co-main-nav .fh5co-logo a:hover, .fh5co-main-nav .fh5co-logo a:focus, .fh5co-main-nav .fh5co-logo a:active {
    outline: none;
    text-decoration: none;
}

.fh5co-main-nav .fh5co-menu-1 a.active, .fh5co-main-nav .fh5co-menu-2 a.active, .fh5co-main-nav .fh5co-logo a.active {
    color: #ffffff;
    background-color: #084f70;
}

.fh5co-main-nav .fh5co-menu-1 {
    text-align: right;
    width: 40.33%;
    /*width: 64.33%;*/
}

.fh5co-main-nav .fh5co-menu-1 a {
    vertical-align: middle;
}

.fh5co-main-nav .fh5co-logo {
    text-align: center;
    width: 19.33%;
    font-size: 35px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
    /*text-align: center;
  width: 19.33%;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;*/
}

.fh5co-main-nav .fh5co-logo a {
    position: relative;
    top: -5px;
    display: inline-block;
}

.fh5co-main-nav .fh5co-menu-2 {
    text-align: center;
    /*width: 40.33%;*/
}

.fh5co-heading .heading {
    font-size: 50px;
    font-style: italic;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .fh5co-heading .heading {
        font-size: 30px;
    }
}

.fh5co-heading .heading:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 2px;
    left: 50%;
    background: #fb6e14;
    margin-left: -20px;
}

.fh5co-heading .sub-heading {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .fh5co-heading .sub-heading {
        font-size: 18px;
    }
}

#fh5co-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    background: #e6e6e6;
    width: 100%;
}

#fh5co-about .fh5co-2col {
    width: 50%;
}


/*TAMAÑOS DESDE TABLET Y CELULAR*/

@media screen and (min-width: 1400px) {
    .container {
        width: 1100px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        margin: 100px auto;
    }
    #textovideo {
        font-size: 22px;
    }
    #logo2 {
        width: 300px !important;
        height: 300px !important;
    }
    #textovideo {
        margin-top: 50px !important;
        margin-bottom: 25px !important;
    }
    body {
        font-size: 15px;
    }
    .tituloseccion {
        font-size: 40px !important;
    }
    .parrafoseccion {
        font-size: 15px;
    }
    blockquote {
        font-size: 15px;
    }
    .card .card-title {
        font-size: 20px;
        font-weight: 300;
    }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 15px;
    }
    .tituloseccion {
        font-size: 40px !important;
    }
    .parrafoseccion {
        font-size: 15px;
    }
    blockquote {
        font-size: 15px;
    }
    .card .card-title {
        font-size: 20px;
        font-weight: 300;
    }
}

@media screen and (max-width: 767px) {
  .cards-min-height1{
        min-height: auto !important;
  }
  .cards-min-height2{
        min-height: auto !important;
  }
.cards-margin-bottom2{
      margin-bottom: 35px;
}
    .header-principal {
        height: 100% !important;
    }
    #textovideo {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }
    #fh5co-about .fh5co-2col {
        width: 100%;
    }
    #textovideo {
        font-size: 20px;
    }
    body {
        font-size: 15px;
    }
    .tituloseccion {
        font-size: 40px !important;
    }
    .parrafoseccion {
        font-size: 15px;
    }
    blockquote {
        font-size: 15px;
    }
    .card .card-title {
        font-size: 20px;
        font-weight: 300;
    }
    #logo2 {
        width: 250px;
        height: 250px;
    }
    #scroll {
        width: 50px;
    }
}



#fh5co-about .fh5co-text {
    /*padding: 2em 6em*/
    padding: 0em 3em;
    text-align: left;
    background: #221f19/*url(../images/nieve.jpg) repeat center center*/
    ;
    background-size: cover;
}

@media screen and (max-width: 320px) {
  #textovideo {
      font-size: 20px !important;
  }
  #textovideo {
      margin-top: 35px !important;
      margin-bottom: 35px !important;
  }
  #logo2 {
      width: 250px;
      height: 250px;
  }
}

@media screen and (max-width: 1200px) {
    #fh5co-about .fh5co-text {
        padding: 1em;
    }
}

#fh5co-about .fh5co-text .btn {
    /*color: #ffff;*/
}

#fh5co-about .fh5co-text .heading {
    margin-bottom: 30px;
    color: #ffffff;
    font-style: italic;
    font-weight: 300;
    position: relative;
    padding-bottom: 30px;
    text-align: center;
}


/*#fh5co-about .fh5co-text p:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2px;
  left: 50%;
  background: #fb6e14;
  margin-left: -20px;
}*/

#fh5co-about .fh5co-text p {
    line-height: 2;
    color: #ffffff;
}

#fh5co-about .fh5co-text p span.firstcharacter {
    float: left;
    color: #903;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 3px;
    font-style: italic;
    top: -20px;
    position: relative;
    color: #878e66;
    font-family: "Playfair Display", serif;
}

#fh5co-about .fh5co-bg {
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1200px) {
    #fh5co-about .fh5co-bg {
        width: 100%;
        min-height: 500px;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-about .fh5co-bg {
        width: 100%;
        min-height: 300px;
    }
}

#fh5co-sayings {
    padding: 1em 0;
}

@media screen and (max-width: 768px) {
    #fh5co-sayings {
        padding: 1em 0;
    }
}

#fh5co-sayings .flexslider .slides li {
    font-size: 40px;
    line-height: 1.5;
}

#fh5co-sayings .flexslider .slides li blockquote {
    padding-left: 0;
    border-left: none;
}

@media screen and (max-width: 768px) {
    #fh5co-sayings .flexslider .slides li blockquote {
        padding: 0 20px;
    }
}

#fh5co-sayings .flexslider .slides li blockquote p {
    font-size: 40px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    #fh5co-sayings .flexslider .slides li blockquote p {
        font-size: 20px;
        line-height: 1.5;
    }
}

#fh5co-sayings .flexslider .slides li blockquote p.quote-author {
    font-size: 20px;
    color: gray;
}

@media screen and (max-width: 768px) {
    #fh5co-sayings .flexslider .slides li blockquote p.quote-author {
        font-size: 18px;
    }
}

#fh5co-sayings .flexslider .flex-control-paging {
    position: relative;
}

#fh5co-sayings .flexslider .flex-control-paging.flex-control-nav {
    bottom: -70px;
}

@media screen and (max-width: 768px) {
    #fh5co-sayings .flexslider .flex-control-paging.flex-control-nav {
        bottom: -60px;
    }
}

#fh5co-sayings .flexslider .flex-control-paging li a {
    width: 14px;
    height: 14px;
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: none;
            box-shadow: none;
}

#fh5co-sayings .flexslider .flex-control-paging li a:active, #fh5co-sayings .flexslider .flex-control-paging li a:focus {
    outline: none;
}

#fh5co-sayings .flexslider .flex-control-paging li a.flex-active {
    top: 2px;
    position: relative;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 2px solid #fb6e14;
}

#fh5co-featured {
    padding: 1em 0;
    background: #ffff url(../images/cenefa2.jpg) repeat center center;
    background-size: cover;
    ;
}

@media screen and (max-width: 768px) {
    #fh5co-featured {
        padding: 1em 0;
    }
}

#fh5co-featured .fh5co-heading .heading {
    position: relative;
    padding-top: 30px !important;
    color: #004c6c;
}

#fh5co-featured .fh5co-heading .heading:before, #fh5co-featured .fh5co-heading .heading::before {
    height: 64px;
    width: 64px;
    position: absolute;
    content: "";
    background: url(../images/0103-served-plate_64.png) no-repeat;
    top: 0;
    left: 50%;
    margin-top: -50px;
    margin-left: -32px;
}

#fh5co-featured .fh5co-heading .sub-heading {
    color: #000000;
}

#fh5co-featured .fh5co-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

#fh5co-featured .fh5co-grid h2 {
    font-size: 20px;
    margin-bottom: 0;
}

#fh5co-featured .fh5co-grid p {
    line-height: 1.6;
    font-size: 16px;
    color: #222;
}

#fh5co-featured .fh5co-grid .pricing {
    font-size: 40px;
    display: block;
    padding-top: 20px;
}

#fh5co-featured .fh5co-grid .pricing:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    left: 50%;
    margin-left: -20px;
    background: #fb6e14;
}

#fh5co-featured .fh5co-grid .arrow-left:before, #fh5co-featured .fh5co-grid .arrow-left::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 0;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #f5f5f5;
}

@media screen and (max-width: 768px) {
    #fh5co-featured .fh5co-grid .arrow-left:before, #fh5co-featured .fh5co-grid .arrow-left::before {
        right: auto !important;
        left: 15px !important;
        top: 0 !important;
        margin-top: -15px !important;
        margin-left: 0px !important;
        border-top: none !important;
        border-left: 15px solid transparent !important;
        border-right: 15px solid transparent !important;
        border-bottom: 15px solid #f5f5f5 !important;
    }
}

#fh5co-featured .fh5co-grid .arrow-right:before, #fh5co-featured .fh5co-grid .arrow-right::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 50px;
    right: 0;
    margin-right: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #f5f5f5;
}

@media screen and (max-width: 992px) {
    #fh5co-featured .fh5co-grid .arrow-right:before, #fh5co-featured .fh5co-grid .arrow-right::before {
        right: auto !important;
        left: 0 !important;
        margin-left: -15px !important;
        border-left: none !important;
        border-right: 15px solid #f5f5f5 !important;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-featured .fh5co-grid .arrow-right:before, #fh5co-featured .fh5co-grid .arrow-right::before {
        right: auto !important;
        left: 15px !important;
        top: 0 !important;
        margin-top: -15px !important;
        margin-left: 0px !important;
        border-top: none !important;
        border-left: 15px solid transparent !important;
        border-right: 15px solid transparent !important;
        border-bottom: 15px solid #f5f5f5 !important;
    }
}

#fh5co-featured .fh5co-grid>.fh5co-v-half {
    width: 50%;
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    #fh5co-featured .fh5co-grid>.fh5co-v-half {
        width: 100%;
    }
}

#fh5co-featured .fh5co-grid>.fh5co-v-half .fh5co-text {
    background: #f5f5f5;
}

#fh5co-featured .fh5co-grid>.fh5co-v-half .fh5co-special-1 {
    background: #faebcd;
}

#fh5co-featured .fh5co-grid>.fh5co-v-half .fh5co-special-1.arrow-left:before, #fh5co-featured .fh5co-grid>.fh5co-v-half .fh5co-special-1.arrow-left::before {
    border-right: 15px solid #faebcd;
}

@media screen and (max-width: 768px) {
    #fh5co-featured .fh5co-grid>.fh5co-v-half .fh5co-special-1.arrow-left:before, #fh5co-featured .fh5co-grid>.fh5co-v-half .fh5co-special-1.arrow-left::before {
        border-left: 15px solid transparent !important;
        border-right: 15px solid transparent !important;
        border-bottom: 15px solid #faebcd !important;
    }
}

#fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-v-col-2 {
    width: 50%;
    padding: 20px;
    position: relative;
}

#fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-v-col-2.fh5co-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 768px) {
    #fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-v-col-2.fh5co-bg-img {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-v-col-2 {
        width: 100%;
    }
}

#fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-h-row-2 {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

#fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-h-row-2>.fh5co-v-col-2 {
    width: 50%;
    position: relative;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    #fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-h-row-2>.fh5co-v-col-2 {
        width: 100%;
    }
}

#fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-h-row-2>.fh5co-v-col-2.fh5co-bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 768px) {
    #fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-h-row-2>.fh5co-v-col-2.fh5co-bg-img {
        height: 200px;
    }
}

#fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-h-row-2.fh5co-reversed .fh5co-bg-img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

@media screen and (max-width: 992px) {
    #fh5co-featured .fh5co-grid>.fh5co-v-half>.fh5co-h-row-2.fh5co-reversed .fh5co-bg-img {
        position: relative;
        right: inherit;
        top: inherit;
        bottom: inherit;
    }
}

#fh5co-menus {
    padding: 1em 0;
}

@media screen and (max-width: 768px) {
    #fh5co-menus {
        padding: 1em 0;
    }
}

#fh5co-menus .fh5co-heading .heading {
    position: relative;
    padding-top: 30px !important;
}

#fh5co-menus .fh5co-heading .heading:before, #fh5co-menus .fh5co-heading .heading::before {
    height: 64px;
    width: 64px;
    position: absolute;
    content: "";
    background: url(../images/0401-vegan.png) no-repeat;
    top: 0;
    left: 50%;
    margin-top: -50px;
    margin-left: -32px;
}

#fh5co-menus .fh5co-heading .sub-heading {
    color: #a99c92;
}

#fh5co-menus .fh5co-food-menu {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    #fh5co-menus .fh5co-food-menu {
        margin-bottom: 30px;
        float: left;
        width: 100%;
        clear: none !important;
    }
}

#fh5co-menus .fh5co-food-menu h2 {
    margin-bottom: 50px;
    font-style: italic;
    position: relative;
}

#fh5co-menus .fh5co-food-menu h2.fh5co-drinks {
    padding-left: 50px;
}

#fh5co-menus .fh5co-food-menu h2.fh5co-drinks:before {
    background: url(../images/0301-pina-colada.png) no-repeat;
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 64px;
    height: 64px;
}

#fh5co-menus .fh5co-food-menu h2.fh5co-dishes {
    padding-left: 80px;
}

#fh5co-menus .fh5co-food-menu h2.fh5co-dishes:before {
    background: url(../images/0302-steak.png) no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 45px;
}

#fh5co-menus .fh5co-food-menu ul {
    padding: 0;
    margin: 0;
}

#fh5co-menus .fh5co-food-menu ul li {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px dotted #ccc;
    display: block;
    float: left;
    width: 100%;
}

#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc {
    clear: both;
    float: left;
    width: 80%;
}

#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc>figure {
    width: 20%;
    float: left;
    position: relative;
    margin-right: 4%;
}

#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc>figure img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 0;
}

#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc>div {
    width: 75%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 1.5;
}

#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc>div p {
    margin: 0;
}

#fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc>div h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 20px;
    color: #000;
}

#fh5co-menus .fh5co-food-menu ul li .fh5co-food-pricing {
    float: right;
    width: 20%;
    text-align: right;
    font-size: 20px;
    color: #fb6e14;
}

#fh5co-events {
    padding: 1em 0;
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#fh5co-events>.fh5co-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

#fh5co-events>.container {
    z-index: 10;
    position: relative;
}

#fh5co-events .fh5co-heading .heading {
    position: relative;
    padding-top: 30px !important;
    color: #fff;
}

#fh5co-events .fh5co-heading .heading:before, #fh5co-events .fh5co-heading .heading::before {
    height: 64px;
    width: 49px;
    position: absolute;
    content: "";
    background: url(../images/0402-chef.png) no-repeat;
    top: 0;
    left: 50%;
    margin-top: -50px;
    margin-left: -24px;
}

#fh5co-events .fh5co-heading .sub-heading {
    color: #a99c92;
}

@media screen and (max-width: 768px) {
    #fh5co-events {
        padding: 1em 0;
    }
}

#fh5co-events .fh5co-event {
    background: #fff;
    padding: 50px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    margin-top: 48px;
}

#fh5co-events .fh5co-event:before {
    border: 2px solid #e6e6e6;
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: 15px;
    left: 15px;
    z-index: 0;
}

#fh5co-events .fh5co-event h3, #fh5co-events .fh5co-event .fh5co-event-meta, #fh5co-events .fh5co-event p, #fh5co-events .fh5co-event .btn {
    position: relative;
    z-index: 2;
}

#fh5co-events .fh5co-event h3 {
    padding: 0;
    margin: 0;
}

#fh5co-events .fh5co-event .fh5co-event-meta {
    margin-bottom: 20px;
    display: block;
    color: gray;
    position: relative;
    padding-bottom: 10px;
}

#fh5co-events .fh5co-event .fh5co-event-meta:after, #fh5co-events .fh5co-event .fh5co-event-meta::after {
    background: #bfbfbf;
    background: #fb6e14;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 40px;
    height: 2px;
    margin-left: -20px;
}

#fh5co-events .fh5co-event p {
    font-size: 16px;
    line-height: 1.8;
}

#fh5co-events .fh5co-event p:last-child {
    margin-bottom: 0;
}

#fh5co-events .fh5co-event .btn {
    margin-bottom: 0;
}

#fh5co-contact {
    padding: 1em 0;
    /*background: #ffff url/*(../images/fondotip1.jpg) repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover*/
    background-color: #e6e6e6;
}

@media screen and (max-width: 768px) {
    #fh5co-contact {
        padding: 1em 0;
    }
}

#fh5co-contact h3 {
    margin-bottom: 30px;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    #fh5co-contact {
        padding: 1em 0;
    }
}

#fh5co-contact .fh5co-heading .heading {
    position: relative;
    padding-top: 30px !important;
}

#fh5co-contact .fh5co-heading .heading:before, #fh5co-contact .fh5co-heading .heading::before {
    height: 61px;
    width: 61px;
    position: absolute;
    content: "";
    background: url(../images/vino.png) no-repeat;
    top: 0;
    left: 50%;
    margin-top: -50px;
    margin-left: -24px;
}

#fh5co-contact .fh5co-heading .sub-heading {
    color: #a99c92;
}

#fh5co-contact .fh5co-social {
    padding: 0;
    margin: 0;
}

#fh5co-contact .fh5co-social li {
    padding: 0;
    margin: 0;
}

#fh5co-contact .fh5co-contact-info {
    padding: 0;
    margin: 0 0 1.5em 0;
}

#fh5co-contact .fh5co-contact-info li {
    position: relative;
    padding: 0;
    margin: 0 0 1.5em 0;
    padding-left: 50px;
    list-style: none;
}

#fh5co-contact .fh5co-contact-info li i {
    position: absolute;
    top: .4em;
    left: 0;
}

#fh5co-container {
    position: relative;
    z-index: 10;
}

.creditos {
    list-style: none;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#fh5co-footer {
    /*  width: 100%;*/
    background: #ffffff;
    /*padding: 7em 0;*/
    z-index: 1;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 768px) {
    #fh5co-footer {
        padding: 1em 0;
    }
}

@media screen and (max-width: 480px) {
    #fh5co-footer {
        height: inherit;
        position: relative;
    }
}

.fh5co-social {
    /*  padding: 0;
  margin: 0;*/
}

.fh5co-social li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}

.fh5co-social li a {
    font-size: 30px;
    padding: 10px;
}

.fh5co-social li a i {
    font-size: 30px;
}

.fh5co-social li a:hover, .fh5co-social li a:active, .fh5co-social li a:focus {
    outline: none;
    text-decoration: none;
}

#fh5co-offcanvas, #fh5co-container, .fh5co-nav-toggle, #fh5co-footer {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#fh5co-container, .fh5co-nav-toggle, #fh5co-footer {
    z-index: 2;
    position: relative;
}

#fh5co-offcanvas {
    display: block;
    /*height: 100%;*/
    left: 0;
    overflow-y: auto;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 275px;
    background: #ffffffdb;
    padding: 0.75em 1.25em;
    -webkit-transform: translateX(-275px);
    transform: translateX(-275px);
    -webkit-transition: 0.9s;
    transition: 0.9s;
}

#fh5co-offcanvas a {
    display: block;
    color: #228ac9;
    text-align: center;
    padding: 7px 0;
}

#fh5co-offcanvas a:hover, #fh5co-offcanvas a:focus, #fh5co-offcanvas a:active {
    outline: none;
    text-decoration: none;
    color: #fb6e14;
}

#fh5co-offcanvas a.active {
    color: #ffffff;
    background-color: #228ac9;
}

@media screen and (max-width: 768px) {
    #fh5co-offcanvas {
        display: block;
    }
}

.offcanvas-visible #fh5co-offcanvas {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    #fh5co-container, #fh5co-footer, .fh5co-nav-toggle {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.offcanvas-visible #fh5co-container, .offcanvas-visible #fh5co-footer, .offcanvas-visible .fh5co-nav-toggle {
    -webkit-transform: translateX(275px);
    transform: translateX(275px);
}

.js-sticky {
    display: block;
}

@media screen and (max-width: 768px) {
    .js-sticky {
        display: none;
    }
}

.fh5co-nav-toggle {
    cursor: pointer;
    text-decoration: none;
}

.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
    background: #fff;
}

.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}

.fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 30px;
    height: 2px;
    color: #fff;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.fh5co-nav-toggle i::before {
    top: -7px;
}

.fh5co-nav-toggle i::after {
    bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
    top: -10px;
}

.fh5co-nav-toggle:hover i::after {
    bottom: -10px;
}

.fh5co-nav-toggle.active i {
    background: transparent;
}

.fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    display: block;
    margin: 0 auto;
    display: none;
    border-bottom: none !important;
    background: rgba(0, 0, 0, 0.7);
    padding: 0px 10px 10px 10px;
    cursor: pointer;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
        display: block;
    }
}

#fh5co-type {
    padding: 1em 0;
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#fh5co-type>.fh5co-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

#fh5co-type>.container {
    z-index: 10;
    position: relative;
}

#fh5co-type .fh5co-type {
    float: left;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #fh5co-type .fh5co-type {
        margin-bottom: 30px;
    }
}

#fh5co-type h3 {
    margin-bottom: 30px;
    font-style: italic;
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-top: 110px;
}

#fh5co-type h3.with-icon {
    position: relative;
}

#fh5co-type h3.with-icon:before, #fh5co-type h3.with-icon::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -54px;
    margin-top: -125px;
    width: 104px;
    height: 104px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

#fh5co-type h3.with-icon.icon-1:before, #fh5co-type h3.with-icon.icon-1::before {
    background: url(../images/type-1.png) no-repeat center center;
}

#fh5co-type h3.with-icon.icon-2:before, #fh5co-type h3.with-icon.icon-2::before {
    background: url(../images/type-2.png) no-repeat center center;
}

#fh5co-type h3.with-icon.icon-3:before, #fh5co-type h3.with-icon.icon-3::before {
    background: url(../images/type-3.png) no-repeat center center;
}

#fh5co-type h3.with-icon.icon-4:before, #fh5co-type h3.with-icon.icon-4::before {
    background: url(../images/type-4.png) no-repeat center center;
}

#fh5co-type p {
    color: rgba(255, 255, 255, 0.7);
}

.js .to-animate, .js .to-animate-2 {
    opacity: 0;
}

.row-padded {
    padding-bottom: 40px;
    margin-top: 79px;
}

.video-principal {
    height: 400px;
    width: 100%;
}

.centrar-imagen {
    text-align: center;
}

.fade-header {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.27);
    z-index: 1 !important;
    top: 0;
    left: 0;
}

.header-principal {
    position: relative;
}

.main-wrapper {
    height: 100vh;
}

.cards-btn-center {
    text-align: center;
}

.cards-collapsed {
    margin-bottom: 20px;
}

.cards-title-shadow {
    z-index: 10;
    text-shadow: 0px 3px 3px #000000;
}

.cards-title-small {
    font-size: 15px !important;
    width: 100%;
}

.cards-margin-bottom {
      margin-bottom: 30px;
}

.cards-min-height1{
      min-height: 237px;
}

.cards-min-height2{
      min-height: 180px;
}

.footer {
    padding-top: 40PX;
    font-family: "roboto", serif;
}
.footer .social-icons .fa {
font-size: 1em;
}
.footer .social-icons .fa{
    width: 25px;
    height: 25px;
    line-height: 25px;
}
.social-icons li {
	display: inline-block;
	padding-right: 2px;
	padding-left: 2px;
	margin-top: 10px;
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.5em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
 	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
	-webkit-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-adn{background-color:#504e54;}
.social-icons .fa-apple{background-color:#aeb5c5;}
.social-icons .fa-android{background-color:#A5C63B;}
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;}
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;}
.social-icons .fa-css3{background-color:#1572B7;}
.social-icons .fa-dribbble{background-color:#F46899;}
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;}
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;}
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;}
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-globe{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;}
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;}
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;}
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
.icon-circle:before {
   content: "" !important;
}
